<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="ServerIP" value="192.168.1.107" />
      <add key="ServerPort" value="60000" />
      <add key="url" value="http://120.76.148.9/testgis/map/gis.html" />
      <add key="bDevice" value="false" />
      <add key="AddWnd" value="true" />
    </appSettings>
</configuration>